@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ffff;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  min-height: 100vh;
  padding: 1rem;
  background-color: #141414;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  row-gap: 2rem;
}

.data-is-being-fetched-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  position: absolute;
  height: 5rem;
  top: calc(50% - 2.5rem);
}

h1 {
  font-size: 3rem;
  /* border: 2px solid red; */
  margin-bottom: 1rem;
}

button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transition: transform 125ms ease-in-out;
  transform: translate3d(0rem, 0rem, 0rem);
  cursor: pointer;
}

button:active:hover {
  transform: translate3d(0rem, 0.5rem, 0rem);
}

table {
  /* border: 2px solid pink; */
  max-width: 90%;
  width: 100%;
  /* align-self: center; */
  font-weight: 200;
}
.table-categories {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.table-categories > td {
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  /* border: 2px solid red; */
  margin-bottom: 1rem;
}

.table-data-row {
  display: flex;
  /* border: 2px solid blue; */
  justify-content: space-between;
  transition: background-color 0.3s ease-in-out;
}

.table-data-row:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

tbody {
  display: flex;
  flex-direction: column;
  /* row-gap: 1rem; */
}

tbody > a {
  text-decoration: none;
}

.table-data-row > td {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1.5rem 1rem;
  padding-top: 1.5rem;
  border-top: 0.5px solid #c1c1c1;
  text-align: center;
}

.hero-button-container:not(.hero-button-container.resume) {
  width: fit-content;

  -webkit-box-shadow: 0px 7px 0px 0px rgba(89, 51, 158, 1);
  -moz-box-shadow: 0px 7px 0px 0px rgba(89, 51, 158, 1);
  box-shadow: 0px 7px 0px 0px rgba(89, 51, 158, 1);
}

@media (max-width: 468px) {
  #table-category-year,
  #table-category-director {
    display: none;
  }

  #table-data-year,
  #table-data-director {
    display: none;
  }

  #table-category-country {
    /* border: 2px solid green; */
    text-align: end;
  }

  #table-category-title {
    /* border: 2px solid green; */
    text-align: start;
  }
}

/* .table-main {
  display: flex;
  flex-direction: column;
  border: 2px solid green;

  border: none;
} */
